/*********************
Text Styles
*********************/

// General Body Copy
body,
html,
button,
input,
select,
textarea { 
  color: @body-copy;
  .sans-serif;
}

html {
  font-size: 100%;
}

//Links

a,
a:visited {
  color: @link;
  text-decoration: none;
}

a:hover {
  color: @link-hover;
  background-color: @link-hover-bg;
}

a.image {
  line-height: 0px;
  display: block;

  &:hover {
    background-color: transparent;
  }
}

p {
  padding-bottom: 15px;
}

//Images


//Headers


/*********************
Containers
*********************/

/*********************
Page Specific Style
*********************/
