//Integers
@spacing-mobile-sections: 15px;
@max-content-width: 1200px;


//Image Ratios
@img-main-logo-ratio: (84%/407%*100%);

//Transition Duration
@transition-time-nav: 0.25s;
@transition-time-search-box-out: 0.3s;
@transition-time-search-box-in: 0.25s;

//Footer (for sticky footer)
@footer-border-width: 1px;
@footer-padding-top-base: 10px;
@footer-height-base: 92px;
@footer-padding-top-768up: 12px;
@footer-height-768up: 30px;
@footer-padding-top-1030up: 14px;
@footer-height-1030up: 38px;
@footer-padding-top-1400up: 20px;
@footer-height-1400up: 50px;

//Images
@img-bg-body: url("@{imageLocation}/bg-pattern-1.jpg");